[Desktop Entry]
Type=Application
Name=Owera Things4Linux
Comment=A Things 3 clone that syncs with Things Cloud
Exec=things4linux
Icon=com.owera.Things4Linux
Terminal=false
Categories=Office;ProjectManagement;GTK;
Keywords=todo;tasks;things;gtd;productivity;
StartupNotify=true
